/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

.env
.env.backup
.env.production

.phpunit.result.cache
.phpactor.json

/.idea
/.vscode
/.fleet
/.zed

.DS_Store
Thumbs.db

auth.json
Homestead.json
Homestead.yaml